{% extends "material/base.html" %}

{% block content %}
<div class="showcase container purple lighten-3">
	<div class="row">
		<div class="col 12 m10 offset-ml center">
			<h2>Heart Disease Predictor</h2>
			<p>ML Web App</p>
			<p>
				Project Is Created By Mahmudul Hassan

			</p>
			GitHub Link : <a href="https://github.com/MahmudulHassan5809">Mahmudul Hassan</a><br>
			<a href="{{url_for('index')}}" class="btn btn-small purple white-text wave-effect waves-dark">Back</a>

		</div>
	</div>
</div>

{% endblock %}
